<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Job Board{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <div class="nav">
      <a class="brand" href="/">
        <div class="brand-badge">JB</div> Job Board
      </a>
      <div>
        <a href="/jobs/create">Post a Job</a>
      </div>
    </div>

    {% block content %}{% endblock %}
  </div>
</body>
</html>
